{% extends "./_base.html" %}
{% load static %}
{% block content %}
<div class="container">
	<h2 class="text-center">データ詳細</h2>
	<div class="row">
		<div class="col-12">
			<a class="btn btn-outline-secondary float-right" href="{% url 'update' item.pk %}">編集</a>
			<a class="btn btn-outline-secondary float-right" href="{% url 'delete' item.pk %}">削除</a>		</div>
	</div>
	<!--  -->
	{% include "./item_card.html" %}
	<div class="row">
		<div class="col-12">
			<a class="btn btn-outline-secondary float-right" href="{% url 'index' %}">戻る</a>
		</div>
	</div>
</div>
{% endblock %}